@import url("https://fonts.googleapis.com/css?family=Permanent Marker");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  color: #fff;
  background-color: #000;
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Permanent Marker", cursive;
  text-shadow: 0 0 3px #000;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.2;
}

header .container {
  position: relative;
  z-index: 1;
}

.btn-danger {
  background-color: #7B0511;
  border-color: #7B0511;
}

.title-hr hr {
  display: inline-block;
  width: 30%;
  margin: 5px 5px;
  border: 5px solid #fff;
  border-radius: 5px;
}

.title-hr i {
  color: #7B0511;
  font-size: 2.5rem;
}

.cp-hr a, .cp-hr i {
  color: #7B0511;
  font-size: 1.5rem;
}

#videos .video-container {
  position: relative;
  width: 100%;
}

#videos .video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

#videos .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0px;
  border: 1px solid #000;
  border-radius: 10px;
}

.modal {
  color: #000;
}

.page-link {
  color: #7B0511;
  font-weight: bold;
}

.page-link:hover {
  color: #000;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #7B0511;
  border-color: #7B0511;
}

#contact {
  background: #000 url("/images/contactBG.png") no-repeat center top;
  background-size: cover;
}

.contactwrap iframe {
  border: 1px solid #000;
  pointer-events: none;
}

.connect-hr hr {
  display: inline-block;
  width: 25%;
  margin: 5px 5px;
  border: 3px solid #fff;
  border-radius: 3px;
}

.connect-hr i {
  color: #7B0511;
  font-size: 1.5rem;
}

footer {
  font-size: 0.8rem;
}

footer a, footer a:hover {
  color: #7B0511;
  font-weight: bold;
  text-decoration: none;
}
