// === COLORS ===
$text-color: #fff;
$headline-color: #fff;
$body-background-color1: #000;
$body-background-color2: #111;
$theme-color1: #7B0511;
$theme-color2: #fff;
$theme-color3: #000;
$link-color1: #fff;
$link-color2: lighten($theme-color1, 25%);

// === FONTS ===
$text-font: 'Roboto', sans-serif;
$headline-font: 'Ubuntu', sans-serif;

// === SIZES ===
$footer-height: 60px;