// === COLORS ===
$theme-color1: #7B0511;
$theme-color2: #fff;
$theme-color3: #000;

$text-color: $theme-color2;
$headline-color: $theme-color1;

// === FONTS ===
$text-font: 'Ubuntu', sans-serif;
$headline-font: 'Permanent Marker', cursive;